<div class="container">
    <h1>User Login</h1>
    <form >
      <div class="form-group">
        <label for="email">Email</label><br>
        <input type="text" name = "email" class="form-control" ngModel>
      </div>
      <pre></pre> 
      <div class="form-group">
        <label for="password">Password</label><br>
        <input type="text" name = "password" class="form-control" ngModel>
      </div>
      <pre></pre> 
      <button class="btn btn-primary" type="Login" (click)="Login()" routerlink='/home'>Login</button>
    </form>
  </div>

