<div class="container">
    <h1>User Login</h1>
    <form #userlogin="ngForm" (ngSubmit)="Login()">
      <div class="form-group">
        <label for="email">Email</label><br>
        <input type="text" name = "email" class="form-control" [(ngModel)]="formData.email">
      </div>
      <pre></pre> 
      <div class="form-group">
        <label for="password">Password</label><br>
        <input type="password" name = "password" class="form-control" [(ngModel)]="formData.password">
      </div>
      <pre></pre> 
      <button class="btn btn-primary" type="submit" >Login</button>
      <pre></pre> 
      <button class="btn btn-primary" type="Register" (click)="Register()">Register Now</button>
    </form>
  </div>

